.body-card {
    font-family: cursive;
    padding: 10px;
    
}
.offset-2 {
    margin-left: 2%;
}
.body-card1{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    padding: 10px;
}
.btn-secondary{
    border-radius: 5px;
    margin-left: 45%;
    width: 60px;
    margin-bottom: 10px;
}
body{
    background-color: #41ffb028;
    /* background-image: linear-gradient(to right top, #1b6ce5, #875ad6, #bb41b9, #db2394, #eb126b); */
}
#logout{
    transform:translateX(100%) ;
}
